<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/Inazuma.css" />

<head>
    <p class="container">
        <a class="titolo">RAIMON</a>
        <img src="../static/images/Raimon.jpg" class="squadra">
    </p>
    <audio src="../audio/Inazuma eleven sigla.mp3" autoplay loop controls>
        Il tuo browser non supporta l'elemento audio.
      </audio>

</head>

<body>
    <h1 class="titolo_1">La Squadra</h1>
    <b>La Raimon (雷門) è la squadra di calcio della scuola Raimon Junior High.<br>
        È la squadra protagonista della prima e seconda stagione, e poi verrà ripresa in Inazuma Eleven Go.<br>
        Il capitano è Mark Evans. Gli allenatori sono Frank Wintersea (solo per un breve periodo della prima stagione),<br> 
        Seymour Hillman (prima stagione) e Aquilina Schiller (seconda stagione).<br>
        Nella prima stagione usano di solito uno schema 4-4-2,mentre durante la seconda stagione esso varia a causa degli infortuni vari,<br>
        stabilizzandosi in un 5-3-2 dalla sfida contro la Chaos.
    </b>
</body>