<!DOCTYPE html>
<html lang="en">


<head>
    <c class="contenitore_1">
        <img src="../static/images/Mark_sito.png" class="foto_1">
        <p class="titolo_1">MARK EVANS</p>
        <link rel="stylesheet" href="../static/css/Mark.css" />
        {% for item in statistiche %}
            <a class="dati">
                Squadra: {{ item[0] }}<br>
                Posizione: {{ item[1] }}<br>
                Elemento: {{ item[2] }}<br>
                Tiro: {{ item[3] }}<br>
                Fisico: {{ item[4] }}<br>
                Controllo: {{ item[5] }}<br>
                Difesa: {{ item[6] }}<br>
                Velocità: {{ item[7] }}<br>
                Stamina: {{ item[8] }}<br>
                Determinazione: {{ item[9] }}<br>
                Prima mossa: {{ item[10] }}<br>
                Seconda mossa: {{ item[11] }}<br>
                Terza mossa: {{ item[12] }}<br>
                Quarta mossa:{{ item[13] }}<br>
                
            </a>
        {% endfor %}
        </ul>
        </c>
</head>

<body>
<h1 class="capotesto">BIOGRAFIA</h1>
<h2 class="biografia">
    Mark Evans (円堂 守 Endō Mamoru) è il protagonista principale della serie Inazuma Eleven.<br>
È il capitano e portiere della Raimon e dell'Inazuma Japan, anche se, per parte della seconda stagione, gioca da libero.<br>
Nella serie GO, 10 anni dopo il Football Frontier International, diventerà prima l'allenatore della Raimon (GO) e<br> 
successivamente della Chrono Storm nella serie Chrono Stone.<br> 
Nella serie Galaxy ricompare nell'episodio 18 dopo aver allenato Zack Avalon per entrare nella Earth Eleven.<br>
Nella serie Inazuma Eleven Ares, diventa portiere e capitano del liceo Simplicio, mentre nell'ultima serie non ancora uscita in italia,<br> 
Inazuma Eleven Orion, diventa il capitano della Inazuma Japan.<br>
Nel film Inazuma Eleven GO VS Danball Senki W è portiere e capitano della Inazuma Legend Japan.<br>
Nel film Inazuma Eleven Chou Jigen Dream Match è portiere e capitano della Inazuma Best Eleven.<br>
</h2>
<div class="nonno">
    <h3 class="rapporto_col_nonno">
        Mostra una grande ammirazione verso David Evans, suo nonno,<br> 
        anche lui portiere, ma sua madre non vorrebbe che giocasse a calcio<br> 
        a causa dell'incidente del nonno David,<br> 
        avvenuto in circostanze misteriose quando la Inazuma Eleven si recava allo stadio<br> 
        per giocare la finale del Football Frontier contro la Royal Academy.<br> 
        Come suo nonno, Mark utilizza un metodo di allenamento speciale un po' particolare:<br> 
        egli ha legato un vecchio pneumatico a un albero, lo lancia e cerca di bloccarlo,<br> 
        il più delle volte ci riesce.<br>
    </h3>
    <h4>
        <img src="../static/images/David_evans.png">
    </h4>
</div>
</body>