body{
    background-color: black;
}

.nome{
    color: white;
}

.dati{
    color: white;
}

.contenitore{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.capotesto{
    color: white;
}

.biografia{
    color: white;
    font-size: medium;
}