.contenitore_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto_1{
    width: 200px;
}

body{
    background-color: black;
}

.titolo_1{
    font: large;
    font-size: x-large;
    color: rgb(250, 243, 243);
}

.biografia{
    border-left: 150px;
    color: rgb(248, 248, 248);
    font-size: medium;
}

.capotesto{
    font-size: x-large;
    font: large;
    color: rgb(248, 245, 245);
}

.dati{
    color: rgb(247, 242, 242);
}

.nonno{
    display: flex;
    flex-direction: row;
}

.rapporto_col_nonno{
    color: white;
    font-size: medium;
}

.container {
    position: relative;
    display: inline-block;
  }

  .overlay {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Opacità dello sfondo */
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    opacity: 0; /* La scritta sarà inizialmente nascosta */
    transition: opacity 0.3s ease;
  }

  .tutto:hover .overlay {
    opacity: 1; /* La scritta apparirà quando passi il mouse sopra */
  }