.contenitore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome {
    color: white;
    font-size: xx-large;
}

body {
    background-color: black;
}

.dati{
    color: white;
}

.capotesto{
    color: white;
}

.biografia{
    color: white;
    font-size: medium;
}